<div id = "callPage" class = "call-page">
  <video id = "vid1" autoplay muted="muted"></video>
  <video id = "vid2" autoplay></video>
</div>



<!--<button (click)="btnGetAudioTracks()">getAudioTracks()</button>-->
<!--<button (click)="btnGetTrackById()">getTrackById()</button>-->
<!--<button (click)="btnGetTracks()">getTracks()</button>-->
<!--<button (click)="btnGetVideoTracks()">getVideoTracks()</button>-->
<!--<button (click)="btnRemoveAudioTrack()">removeTrack() - audio</button>-->
<!--<button (click)="btnRemoveVideoTrack()">removeTrack() - video</button>-->
